[submodule "modules/pypto-serving"]
	path = modules/pypto-serving
	url = https://github.com/hengliao1972/pypto-serving.git
[submodule "modules/pypto-lib"]
	path = modules/pypto-lib
	url = https://github.com/hengliao1972/pypto-lib.git
[submodule "modules/simpler"]
	path = modules/simpler
	url = https://github.com/ChaoWao/simpler.git
[submodule "modules/PTOAS"]
	path = modules/PTOAS
	url = https://github.com/zhangstevenunity/PTOAS.git
[submodule "modules/pypto"]
	path = modules/pypto
	url = https://github.com/hw-native-sys/pypto.git
[submodule "modules/pto-isa"]
	path = modules/pto-isa
	url = https://github.com/PTO-ISA/pto-isa.git
